

body{
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
p{
    color: rgb(2, 17, 26);
}

section{
    height: 500px;
    margin-bottom: 50px;
}

.half{
    float: left;
    width: 40%;
    padding-left: 3%;
    margin-left: 3%;
}
.images{
    width: 100%;
}
.heading1{
    color: #363958;

}
.heading2{
    color: #FF8367;
}
.button{
    text-decoration: none;
    padding: 10px;
    background-image: linear-gradient(45deg,rgb(144, 184, 0),#0004ff);
    font-weight: bold;
    color: white;
    font-size: 20px;
    border-radius: 15px;
}
.small{
    float: left;
    width: 25%;
    margin-left: 3%;
    background-color: azure;
    border-radius: 15px;
    box-shadow: #FF8367;
    padding: 15px;
    height: 350px;
}
#third-portion{
    text-align: center;
    color: goldenrod;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 28px;
}
h4{
    color: rgb(29, 15, 15);
    font-weight: bold;
    font-size: 20px;
}
.third{
    background-color: rgb(235, 229, 238);
    
    height: 700px;
    padding-top: 100px;
}

.footer{
    position: relative;
    text-align: center;
    padding: 5px;


}
.footer-image{
    transform: scale(0.5);
    width: 100%;
}
.enquiry{
    position: absolute;
    font-size: 30px;
    top: 30%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
}
#check{
    position: absolute;
    top: 30%;
    right: 30%;
}
.social{
    width: 40px;
    margin: 5px;
}

